# Dependencies
node_modules/
dist/
.angular/

# IDEs
.idea/
.vscode/
*.swp
*.log

# Build
target/
*.class
.mvn/
mvnw
mvnw.cmd

# specific artifacts (internal use)
*.png
*.jpg
*.svg
!frontend/src/assets/images/**/*.svg
!frontend/src/assets/images/**/*.png
!frontend/src/assets/images/**/*.jpg

# OS
.DS_Store
Thumbs.db
